body, html{
    height: 100%;
    margin: 0;
    font-size:16px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 1.8cm;
    color:#6666;
}

.parallax{
    background-image:url("images/cargarage.jpg");
    min-height:100%;
}
.Image2{
    background-image:url("images/lambo.jpg");
    min-height:100%;
}
.Image3{
    background-image:url("images/ferrari.jpg");
    min-height:100%;
}
.Image4{
    background-image:url("images/maserati.jpg");
    min-height:100%;
}
/* opacity:0.70;*/
.parallax, .Image2, .Image3, .Image4{
    position:relative;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed; 
}
/* .parallax {
    background-image: url(https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/models_gw/hero-banner/09_20_aven_ulti/gate_family_hero_01.jpg);
    min-height: 840px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
.tittle {
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color: white;
    font-size:27px;
    letter-spacing: 8px;
    text-transform:uppercase;
}
.tittle .border {
    background-color:grey;
    color:white;
    padding:20px;
    border:solid;
}
.trans {
    background-color: white;
    color:black;
    padding:20px;
}
h1{
    border:solid grey;
}
p{
    font-size: 30px;
}
.section{
    text-align: center;
    padding: 50px 80px;
}
.section-light{
    background-color:rgb(66, 56, 64);
    color:rgb(221, 207, 15);
}
.section-medium{
    background-color:grey;
    color:rgb(15, 15, 15);
}
.section-dark{
    background-color:rgb(65, 62, 62);
    color:rgb(221, 214, 214);
}
.section-darker{
    background-color:black;
    color:white;
}
@media(max-width:565px) {
    .parallax, .Image2, .Image3, .Image4{
        background-attachment:scroll;
    }
}